* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

h1 {
    font-family: "Work Sans";
    font-size: 3rem;
    font-weight: 600;
    padding: 8px 0;
}

h2 {
    font-weight: 300;
    font-size: medium;
}

.bog-billede {
    width: 20rem;
    padding: 2rem 0;
    padding-right: 2rem;
}

button {
    padding: 30px;
    background-color: #44519f;
    color:#f4f2e9;
    font-size: 1rem;
    padding: 1rem;
    margin: 1.5rem 0;
    border: none;
    cursor: pointer;
    width: 11rem;
    height: 3.5rem;
}

body {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    color: #44519f;
    font-family: 'Work Sans';
    font-weight: 300;
    background-color: #f4f2e9;
}

.text {
    font-size: large;
    line-height: 30px;
    padding: 1rem 0;
}

ul {
    font-size: large;
    list-style: none;
    line-height: 30px;
    padding-bottom: 20px;
}

.overlinje {
    font-size: large;
    font-weight: 600;
}

@media (min-width: 768px) {

    body {
        margin-right: 0rem;
        margin-left: 6rem;
    }
    main {
        display: grid;
        grid-template-columns: 1.2fr 1fr; /* To kolonner: 1 del til billedet, 2 dele til tekst */
        gap: 1rem;
        margin-right: 5rem;
        margin-top: 1rem;
    }

    .text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .tekst-sektion {
        padding-top: 10px;
    }

    /* Billedsektionen tager kun én kolonne */
    .bog-billede {
        width: 100%;
        max-width: 400px;
    }

}
/* Desktop Layout */
@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1.5fr; /* To kolonner: 1 del til billedet, 2 dele til tekst */
        gap: 0;
    }

    h2 {
        font-size: larger;
    }

    .tekst-sektion {
        max-width: 500px;
    }

    .text {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}