* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body {
    background-color: #f4f2e9; /* Baggrundsfarve */
    color: #44519f;
    font-family: 'work sans';
  }



/* Mobile */
@media screen and (max-width: 768px ) {


header {
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
}

.overskrift {
    line-height: 2.2em;
    padding: 20px;
}


h4 {
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
}

h5 {
    font-weight: 400;
    font-size: 20px;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 2.5em;
}

.grid-cakes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 kolonner */
    gap: 30px;
    padding: 20px;
}

.grid-coffee {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 kolonner */
    gap: 30px;
    padding: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure p:first-child {
    font-size: 1.2em;
}

figure p:nth-child(3) {
    font-size: 1em;
    margin: 5px 0;
  }

figure p:nth-child(3) {
  font-size: 1em;
  margin: 5px 0;
}

/* Style til vælg-knappen */
.choose-button {
    font-size: 1em;
    font-weight: bold;
    color: #334e92;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}

figure img {
    max-width: 100px;
    height: auto;
    margin: 10px 0;
}

/* Justering af mellemrum og margener */
.grid-cakes p {
    margin: 0;
}


.drikke-overskrift {
    padding: 14px;
}

.menu-cake {
    line-height: 2.5em;
    padding: 42px 14px 10px;
}

.menu-cakes {
    padding: 10px 14px;
}


.menu-coffee {
    line-height: 2.4em;
    margin: 0 auto; /* Centrerer artiklen på siden */
    padding: 14px;
}

.undermenu-coffee {
    padding: 12px
}


.coffee {
    display: inline-block;
}

.price {
    display: inline-block;
    text-align: right;
}

/* Styling af drikkevarer og priser */
.item {
    display: grid;
    grid-template-columns:  40% 30%;
    gap: 5px;
    
}
}

/* Tablet */
@media screen and (min-width: 768px ) {
    
    header {
        padding: 30px 0px 25px 35px;
        font-size: 26px;
        font-weight: 100;
    }
    
    .overskrift {
        line-height: 2.9em;
        padding: 0px 0px 25px 35px;
    }
    
    
    h4 {
        font-weight: 400;
        font-size: 45px;
    }
    
    h3 {
        font-weight: 400;
        font-size: 20px;
    }
    
    h5 {
        font-weight: 300;
        font-size: 30px;
    }
    
    p {
        font-weight: 450;
        font-size: 20px;
    }
    
    .grid-cakes {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
        gap: 50px;
    }
    
    .grid-coffee {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 kolonner */
        gap: 50px;
        padding: 20px;
    }
    
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    figure p:first-child {
        font-size: 1.2em;
    }
    
    figure p:nth-child(3) {
        font-size: 1em;
        margin: 5px 0;
      }
    
    figure p:nth-child(3) {
      font-size: 1em;
      margin: 5px 0;
    }
    
    /* Style til vælg-knappen */
    .choose-button {
        font-size: 1em;
        font-weight: bold;
        color: #334e92;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 10px;
    }
    
    figure img {
        max-width: 200px;
        height: auto;
        margin: 10px 0;
    }
    
    /* Justering af mellemrum og margener */
    .grid-cakes p {
        margin: 0;
    }
    
    
    .drikke-overskrift {
        padding: 120px 35px 40px;
    }
    
    .menu-cake {
        line-height: 3.5em;
        padding: 95px 35px 10px;
    }
    
    .menu-cakes {
        padding: 12px 35px;
        line-height: 5em;
    }
    
    
    .menu-coffee {
        line-height: 4em;
        margin: 0 auto; /* Centrerer artiklen på siden */
        padding: 35px;
    }
    
    .undermenu-coffee {
        padding-top: 20px
    }
    

    .coffee {
        display: inline-block;
    }
    
    .price {
        display: inline-block;
        text-align: right;
    }
    
    /* Styling af drikkevarer og priser */
    .item {
        display: grid;
        grid-template-columns:  19% 30%;
        gap: 5px;
        
    }
}

@media screen and (min-width: 1023px ) {
    header {
        padding: 30px 0px 25px 60px;
        font-size: 50px;
        font-weight: 100;
    }
    
    .overskrift {
        line-height: 5em;
        padding: 0px 0px 25px 60px;
    }
    
    
    h4 {
        font-weight: 400;
        font-size: 45px;
    }
    
    h3 {
        font-weight: 400;
        font-size: 50px;
    }
    
    h5 {
        font-weight: 300;
        font-size: 30px;
    }
    
    p {
        font-weight: 450;
        font-size: 20px;
    }
    
    .grid-cakes {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 kolonner */
    }
    
    
    .grid-coffee {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 kolonner */
        gap: 50px;
        padding: 20px;
    }
    
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    figure p:first-child {
        font-size: 2em;
    }
    
    figure p:nth-child(3) {
        font-size: 1.7em;
        margin: 5px 0;
      }

    /* Style til vælg-knappen */
    .choose-button {
        font-size: 1.7em;
        font-weight: bold;
        color: #334e92;
        cursor: pointer;
        text-decoration: underline;
        margin-top: 10px;
    }
    
    figure img {
        max-width: 300px;
        height: auto;
        margin: 10px 0;
    }
    
    /* Justering af mellemrum og margener */
    .grid-cakes p {
        margin: 0;
    }
    
    
    .drikke-overskrift {
        padding: 120px 35px 40px;
    }
    
    .menu-cake {
        line-height: 3.5em;
        padding: 95px 35px 10px;
    }
    
    .menu-cakes {
        padding: 12px 35px;
        line-height: 5em;
    }
    
    
    .menu-coffee {
        line-height: 4em;
        margin: 0 auto; /* Centrerer artiklen på siden */
        padding: 35px;
    }
    
    .undermenu-coffee {
        padding-top: 20px
    }
    

    .coffee {
        display: inline-block;
    }
    
    .price {
        display: inline-block;
        text-align: right;
    }
    
    /* Styling af drikkevarer og priser */
    .item {
        display: grid;
        grid-template-columns:  19% 30%;
        gap: 5px;
        
    }
}
