body {
    margin: 0;
    padding: 0;
    font-family: Work Sans, light;
    background-color: #f4f2e9;
}

.navbar {
    display: flex;
    align-items: center; /* Centrerer alle elementer vertikalt i navbaren */
    justify-content: space-between;
    background-color: #f4f2e9;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 60px; /* Juster om nødvendigt */
}

.navbar-menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: #333399;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px; /* Matcher højden på logoet for vertikal justering */
}

.navbar-icon img {
    height: 60px; /* Juster om nødvendigt for at matche logoet */
}

