body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f2e9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f2e9;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 120px;
}

.navbar-menu {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 40px; /* Juster afstanden mellem menupunkterne */
    list-style: none;
    margin-left: 30px;
    padding: 0;
}

.navbar-menu li {
    position: relative; /* Gør det muligt at placere dropdown absolut i forhold til denne */
}

.navbar-menu li a {
    text-decoration: none;
    color: #333399;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    transition: all 0.2s ease-in-out;
}

/* Dropdown-menuen som standard skjult */
.navbar-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Placerer dropdown under hovedmenu-elementet */
    left: 0;
    background-color: #f4f2e9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    list-style: none;
    margin: 0;
}

.navbar-menu li a:hover {
    text-decoration: underline; /* Tilføjer understregning ved hover */
}
/* Viser dropdown, når man holder musen over hovedmenupunktet */
.navbar-menu li:hover > .dropdown {
    display: block;
}

.navbar-menu .dropdown li span {
    display: block;
    padding: 5px 20px;
    color: #333399;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
}

.navbar-icon img {
    height: 100px;
}
